@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

.senderpa {
    font-family: Roboto, serif;
    font-size: 30px;
    color: chocolate;
    text-transform: uppercase;
}

.container {
    border: 5px solid;
    border-color: #2980b9;
    padding: 15px 20px;
    margin-right: 350px;
}

.time {
    font-size: 15px;
    font-family: Encode Sans, sans-serif;
}

.maincontent {
    font-family: Roboto, serif;
    font-size: 25px;
    text-decoration: underline;
}

.maintitl {
    font-family: Staatliches, cursive;
    font-size: 50px;
    color:cadetblue;
}