@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.prod {
    border-radius: 5px;
    border: 1px solid;
    padding: 10px 10px;
    width: 300px;
    margin-left: 23%;
    font-family: Staatliches, cursive;
    font-size: 25px;
}

.about {
    border-radius: 5px;
    border: 1px solid;
    padding: 10px 10px;
    height: 300px;
    width: 300px;
    margin-left: 23%;
}

button {
    font-size:20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    font-family: Staatliches, cursive;
    margin-left: 42%;
}

label {
    margin-left: 23%;
    font-family: Staatliches, cursive;
}

textarea {
    font-family: Roboto, serif;
}

.container {
    margin: auto;
    width: 50%;
    border: 3px solid #EAB543;
    padding: 10px;
    align-content: center;
}

body {
    background-color: rgb(201, 209, 218);
}

div {
    background-color: rgb(201, 209, 218);
}
